{{ define "main" }}
  <main class="pb7" role="main">
    <article class="pa3 pa4-ns">
      
      <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
        {{ .Content }}
      </section>
      
      <section class="mw7 center">
        {{ range .Pages }}
          <div class="mb5 pb4 bb b--black-10">
            <h1 class="f2 mt0 mb2">
              <a href="{{ .RelPermalink }}" class="link black dim">{{ .Title }}</a>
            </h1>
            <p class="f4 i lh-copy mt0 mb3">{{ .Description }}</p>
            <a href="{{ .RelPermalink }}" class="f5 b link dim black ttu tracked">Explore Project &rarr;</a>
          </div>
        {{ end }}
      </section>

    </article>
  </main>
{{ end }}